[submodule "circom-ecdsa"]
	path = circom-ecdsa
	url = https://github.com/0xPARC/circom-ecdsa.git

[submodule "timed-commitments"]
	path = timed-commitments
	url = https://github.com/topanisto/timed-commitments
